// Main Theme Pallet
$primary-color: #190F0E;
$secondary-color: #A6664F;
$accent-color: #AE593A;
$background-color: #FBF7F6;

// White Pallet
$white-color: #fff;

// Dark Pallet
$dark-color-50: #190F0E0D;
$dark-color-200: #190F0E33;
$dark-color-600: #190F0E99;
$dark-color-1000: #190F0ECC;
