/* variables */
$scrollbar-width: 15rem;
$breakpoints: (
  desktop: 1920px,
  desktop-xs: 1440px,
  tablet: 1439px,
  tablet-xs: 768px,
  mobile: 767px,
  mobile-xs: 0,
);
$default-transition: ease-in 200ms;
